[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vimfiles/bundle/airline"]
	path = vimfiles/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/autoclose"]
	path = vimfiles/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "vimfiles/bundle/bufferlist"]
	path = vimfiles/bundle/bufferlist
	url = https://github.com/roblillack/vim-bufferlist
